.skeleton {
    background-color: rgb(199, 199, 199);
    margin: 0.75rem 0;
    border-radius: 0.25rem;
}

.skeleton.avatar {
    width: 7.75rem;
    height: 7.75rem;
    border-radius: 100%;
    margin: 0;
}

.skeleton.name {
    width: 80%;
    height: 1.25rem;
    // margin-bottom: 0rem;
}

.skeleton.button {
    width: 80%;
    height: 1.75rem;
    margin: 0;
}

@keyframes pulse {
    50% {
        opacity: 0.5;
    }
}

.animatePulse {
    animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
