.profileContainer {
    min-height: 100vh;
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template:
        'profile name'
        'profile status'
        'profile feed';
    grid-template-rows: 50px 50px 1fr;
    grid-template-columns: minmax(200px, 20%) 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.profile {
    grid-area: profile;
}

.userInfo {
    width: 100%;
}

.userImage {
    width: 100%;
    margin: 0 auto;
    height: 200px;
    background-color: lightpink;
}

.lookingForAJob {
}

.userNameContainer {
    grid-area: name;
    background-color: white;
}

.userName {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-xl);
}

.userStatusContainer {
    grid-area: status;
    background-color: white;
}

.userStatus {
}

.feed {
    grid-area: feed;
    background-color: white;
}
