.profileContainer {
    min-height: 100vh;
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template:
        'profile name'
        'profile status'
        'profile feed';
    grid-template-rows: auto auto 1fr;
    grid-template-columns: minmax(200px, 20%) 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.profile {
    grid-area: profile;
}

.userInfo {
    width: 100%;
}

.userImage {
    width: 100%;
    margin: 0 auto;
    height: 200px;
    background-color: lightpink;
}

.lookingForAJob {
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-s);
}

.contactsContainer {
    margin-top: 5px;
}

.userNameContainer,
.userStatusContainer {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.userNameContainer {
    grid-area: name;
}

.userName {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-xl);
}

.userStatusContainer {
    grid-area: status;
}

.userStatus {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-m);
}

.feed {
    grid-area: feed;
    background-color: white;
    border-radius: 5px;
}
