.chatContainer {
    grid-area: chat;
    background-color: white;
    padding: 15px;
    width: 100%;
    height: calc(100vh - 260px);
}

.messages {
    margin: 5px auto;
    height: calc(100vh - 200px);
    overflow-y: scroll;
}
