.loginForm {
    display: flex;
    flex-direction: column;
    width: 30vw;
}

.formItem {
    width: 30vw;
    display: flex;
    justify-content: space-between;
}

.input {
    margin-bottom: 5px;
    width: 30vw;
}
